
<mat-selection-list  role="list" class="nav-item">
  <mat-list-item><a routerLink="/brand" class="nav-link" style="cursor: pointer;">Brand</a></mat-list-item>
  <mat-list-item><a routerLink="/product" class="nav-link">Product</a></mat-list-item>
  <mat-list-item><a routerLink="/product" class="nav-link">Product</a></mat-list-item>
  <mat-list-item><a routerLink="/product" class="nav-link">Product</a></mat-list-item>
</mat-selection-list>

<mat-tree>
  <mat-tree-node> parent node </mat-tree-node>
  <mat-tree-node> -- child node1 </mat-tree-node>
  <mat-tree-node> -- child node2 </mat-tree-node>
</mat-tree>
