<div class="container mt-5">

    <form [formGroup]="productForm">
        <div formArrayName="features" class="mb-3">
            <div class="row mb-4">
                <div class="col-md-4">
                    <label for="invoiceNo" class="form-label">Invoice No</label>
                    <input type="text" id="invoiceNo" class="form-control"
                        placeholder="Invoice No">
                </div>
                <div class="col-md-4">
                    <label for="invoiceDate" class="form-label">Invoice
                        Date</label>
                    <input type="date" id="invoiceDate" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="referenceNo" class="form-label">Reference
                        No</label>
                    <input type="text" id="referenceNo" class="form-control"
                        placeholder="Reference">
                </div>
            </div>

            <table class="table w-100">
                <thead class="table-primary ">
                    <tr>
                        <th>Lot Code</th>
                        <th>Size</th>
                        <th class="text-end">Weight</th>
                        <th class="text-end">Rate</th>
                        <th class="text-end">Amount</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let feature of features.controls; let i = index"
                        [formGroupName]="i">
                        <td>
                            <div class="mb-3">
                                <select id="lotSelect" class="form-select"
                                    formControlName="selectedOption1">
                                    <option *ngFor="let opt of lot"
                                        [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <select id="lotSelect" class="form-select"
                                    formControlName="selectedOption2">
                                    <option *ngFor="let opt of size"
                                        [value]="opt">
                                        {{ opt }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" formControlName="weight"
                                class="form-control text-end">
                        </td>
                        <td>
                            <input type="text" formControlName="rate"
                                class="form-control text-end">
                        </td>
                        <td>
                            <input type="text" formControlName="amount"
                                class="form-control text-end">
                        </td>
                        <td class="text-end">
                            <div class="mb-3">
                                <button type="button" (click)="removeFeature(i)"
                                    class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button type="button" (click)="addFeature()"
                                class="btn btn-primary">
                                Add Row
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success me-2"
                (click)="onSubmit()">Add</button>
            <button type="button" routerLink="/product"
                class="btn btn-secondary">Back</button>
        </div>
    </form>
</div>
