<!-- <div class="row">
    <div class="container d-flex justify-content-between">
        <div class="m-2 p-2">
            <h1>{{headerTitle}}</h1>
        </div>
        <div class="m-2 p-2">Back</div>
    </div>
</div> -->
<div class="breadcrumb-main newBreadCrumb">
	<div class="row">
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-0">
			<div class="breadcrumb-title">
				<h2 [ngClass]="titleSize ?'page-title-large':'page-title' "><i [class]="icon"></i> {{title}}</h2>
			</div>
		</div>
		<!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-0 d-sm-block d-flex justify-content-start">
			<ul class="breadcrumb-list">
				<li class="breadcrumb-item bcrumb-1 cursor-pointer">
					<a (click)="gotoDashboard()">
						
					</a>
				</li>
				<li class="breadcrumb-item cursor-pointer" [routerLink]="item.routerLink" *ngFor="let item of items">
					{{item.name}}</li>
				<li class="breadcrumb-item active">{{active_item}}</li>
			</ul>
		</div> -->
	</div>
</div>