::ng-deep {
  .breadcrumb-icon {
    margin-top: 2px !important;
  }
}

.breadcrumb-title {
  i {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .breadcrumb-main .breadcrumb-list {
    padding: 0px;
  }
}
.newBreadCrumb {
  ::ng-deep {
    .breadcrumb-icon .feather {
      width: 14px;
      height: 14px;
    }

    .breadcrumb-list{
      font-size: 14px;
    }

   .breadcrumb-item + .breadcrumb-item:before{
      font-size: 14px;
    }
  }
}