<!-- Header Page
<div class="container-fluid">
    <div class="row p-0">
        <h2>Some text</h2>
    </div>
    <hr class="m-0">
    <div class="row side-row">
        Sidebar
        <div class="col-2 bg-dark text-white p-0 m-0">
            <ul>
                <li class="nav-link">Home</li>
                <li class="nav-link">Home</li>
                <li class="nav-link">Home</li>
                <li class="nav-link">Home</li>
            </ul>
        </div>
        <div class="col-10 d-flex justify-content-center p-0 m-0">
            <app-main-comp></app-main-comp>
        </div>
    </div>
</div> -->

<app-header></app-header>
<div class="d-flex vh-100">
  <div class="bg-light p-3" style="width: 240px;">
    <app-navbar></app-navbar>
  </div>
  <main class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </main>
</div>

