<div class="container">
<table class="col-12 table table-hover">
        <thead>
            <tr class="p-3">
                <th>Actions</th>
                <th>Transfer No</th>
                <th>Transfer Date</th>
                <th>From Factory</th>
                <th>To Factory</th>
                <th>From Department</th>
                <th>To Department</th>
            </tr>
        </thead>
        <tbody>
            <tr class="p-3" *ngFor="let bag of bagTransfer; let i = index">
                <td><input type="checkbox" [(ngModel)]="bag.Select" (change)="onCheckboxChange($event,bag)"></td>
                <td>{{bag.transferNo}}</td>
                <td>{{bag.transferDate}}</td>
                <td>{{bag.fromFactory}}</td>
                <td>{{bag.toFactory}}</td>
                <td>{{bag.fromDepartment}}</td>
                <td>{{bag.toDepartment}}</td>
            </tr>
        </tbody>
    </table>
</div>
