<div class="container">
<table class="col-12 table table-hover">
        <thead>
            <tr class="p-3">
                <th>Actions</th>
                <th>Transfer No</th>
                <th>Transfer Date</th>
                <th>From Factory</th>
                <th>To Factory</th>
                <th>From Department</th>
                <th>To Department</th>
            </tr>
        </thead>
        <tbody>
            <tr class="p-3" *ngFor="let bag of bagTransfer; let i = index">
                <td>
                    <div class="form-check">
                        <input class="form-check-input custom-checkbox" type="checkbox" [(ngModel)]="bag.Select" (change)="onCheckboxChange($event,bag)">
                    </div>
                </td>
                <td>{{bag.transferNo}}</td>
                <td>{{bag.transferDate}}</td>
                <td>{{bag.fromFactory}}</td>
                <td>{{bag.toFactory}}</td>
                <td>{{bag.fromDepartment}}</td>
                <td>{{bag.toDepartment}}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-end mt-3">
        <button class="btn btn-primary" (click)="addSelectedToUpload()">
            Add Selected
        </button>
    </div>
</div>
