<app-output></app-output>

<!-- <h1 *ngFor="let i of users">{{i.name}}</h1>
<hr>
<ng-container *ngFor="let i of users;let index = index">
<input type="text"  [(ngModel)]="i.name"><br><br>
</ng-container> -->

<!-- <h1>{{'title '+ title}}</h1> -->

<!-- <h3>{{getTitle($event)}}</h3> -->

<!-- <h1>{{enterValue}}</h1> -->

<!-- <form [formGroup]="users">
 <input formControlName="name"/>
</form> -->

<!-- <input (input)="onInputCange($event)"> -->
 <!-- <h1>{{count}}</h1>

<button (click)="clickMe(1)" class="btn btn-success">+</button>
<button (click)="clickMe(-1)" class="btn btn-secondary">-</button> -->

<!-- <input (input)="updateTitle($event)">
<p>Your title:{{title}}</p> -->