<div class="mat-elevation-z4 bg-white"
    style="border: 1px solid #e0e0e0; border-radius: 8px;">
    <div
        style="display: flex; justify-content: space-between; align-items: center; padding: 16px;">
        <h1 class="mat-headline">Products</h1>
        <button mat-raised-button color="primary" routerLink="/product/add">Add
            Product</button>
    </div>

    <div style="overflow-x: auto;">
        <mat-form-field appearance="fill" class="w-100"
            subscriptSizing="dynamic">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="10"
                #input>
        </mat-form-field>
        <table class="table table-bordered table-hover mt-3 w-100">
            <thead class="table-dark">
                <tr>
                    <th>Invoice No</th>
                    <th>Date</th>
                    <th>Reference No</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of dataSource" (click)="isDisable(row)"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <td>{{ row.invoice }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.reference }}</td>
                    <td>{{ row.customFilterDetailList[0]?.conditions[0]?.qty
                        }}</td>
                    <td>{{ row.customFilterDetailList[0]?.conditions[0]?.rate
                        }}</td>
                    <td>{{ row.customFilterDetailList[0]?.conditions[0]?.amount
                        | currency:'INR':'symbol' }}</td>
                    <td>
                        <button class="btn btn-sm btn-primary"
                            [routerLink]="['/product', row.id]">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,25,100]"
            aria-label="Select page of users"></mat-paginator>
    </div>
</div>

<div class="popup-backdrop" *ngIf="selectedRow">
    <div class="popup">
        <div style="text-align: right;">
            <button (click)="isClose()">Close</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Invoice</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let det of details; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ det.invoice }}</td>
                    <td>{{ det.date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
